{% extends "template.twig" %}

{% block content %}


<div class="row" id="bo">
    <h2>Back-Office</h2><br>
    <div class="col-lg-4">
        <h3>Ajout de Post</h3><br>
        {% if post != null %}
        <div class="alert alert-success text-center" role="alert" id="article-added">
            Post ajouté (<a href="index.php?action=single&id={{post.getId()}}">Voir l'article</a>)
        </div><br>
        {% endif %}
        <form method="post" action="index.php?action=addarticle&id={{id}}">
            <label for="title">Titre :</label>
            <input type="text" name="title" /><br>
            <label for="chapo">Chapo :</label>
            <textarea name="chapo"></textarea>
            <label for="content">Contenu :</label>
            <textarea name="content" rows="10" cols="100"></textarea><br><br>
            <p id="submit"><input type="submit" /></p><br>
        </form>
    </div>
    <div class="col-lg-4">
        <h3>Approbation commentaires</h3>
        {% if comments == false %}
                <strong>Tous les commentaires ont été inspectés</strong>
            {% endif %}
        <div id="comments" class="scroller">
            {% for comment in comments %}
            <div class="comment">
                <h4>Article : {{comment.getArticle}}</h4>
                <h5>Pseudo : {{comment.getAuthor}}</h5>
                <h6>Date : {{comment.getDate}}</h6>
            </div>
            <p>{{comment.getContent}}</p>
            <div class="btn-comment">
                <a class="btn btn-success font-weight-bold text-uppercase" href="index.php?action=validate&comment={{comment.getId}}">
                Approuver le commentaire
                </a>
                <p class="text-center"><a class="btn btn-danger" href="index.php?action=deletecomment&comment={{comment.getId}}&id=0">
                Supprimer le commentaire
                </a></p>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-lg-4">
        <h3>Gestion des utilisateurs</h3>
        <div class="jumbotron scroller">
            {% for group, user in groups %}
               <h4 class="text-center">{{group}}</h4><br>
               <table>

                        <tr>
                            <th>Pseudo</th>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Email</th>
                            <th class="td">Changer le rôle</th>
                        </tr>
                {% for user in user %}
                        <tr>
                            <td>{{user.getNickname}}</td>
                            <td>{{user.getName}}</td>
                            <td>{{user.getFirstname}}</td>
                            <td>{{user.getEmail}}</td>
                            <td class="td">
                            <div class="dropdown">
                                <a class="btn btn-secondary" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Nouveau rôle
                                </a>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#">Bloqué/Bani/Puni</a><br>
                                    <a class="dropdown-item" href="#">Membre standard</a><br>
                                    <a class="dropdown-item" href="#">Modérateur</a>
                                    <a class="dropdown-item" href="#">Administrateur</a>
                                </div>
                            </div>
                            </td>
                        </tr>
                {% endfor %}
                </table>
                    <hr>
                
            {% endfor %}
        </div>
    </div>
</div>
<br>

{% endblock %}