{% extends "template.twig" %}

{% block content %}

<div id="blog-title">
    <h1>Articles</h1>
</div>

{# Articles #}
<div class="container">
    <ul>
    {% for article in articles %}
        <br><li>
        <h3>{{ article.getTitle() }}</h3>
        <h4>{{ article.getChapo() }}</h4>
        <em> Dernière mise à jour le :
        {% if article.getLastUpdated() == null %}
            {{ article.getDateAdded() }}
        {% else %}
            {{ article.getLastUpdated() }}
        {% endif %}
        </em></li>
        <a href="index.php?action=single&id={{ article.getId() }}&page={{page}}" class="lirelasuite">Lire la suite...</a>
        <br>
    {% endfor %}
    <br></ul>
    {# Pagination #}
    <div id="numerotation-pages">
    Pages :
    {% for Page in pages %}
        <a href="index.php?action=articles&page={{Page}}" class="num-page">
        {% if Page == page %}
            <strong>{{Page}}</strong>
        {% else %}
            <em>{{Page}}</em>
        {% endif %}
        </a>
    {% endfor %}
    </div>
</div>

{% endblock %}