{% extends "template.twig" %}

{% block content %}

<div id="blog-title">
    <h3><a href="index.php?action=articles&page={{page}}">Retour aux articles</a></h3>
</div>

<div class="container" id="single">
    <div id="maj"><em> Article mis à jour le :
        {% if article.getLastUpdated() == null %}
            {{ article.getDateAdded() }}
        {% else %}
            {{ article.getLastUpdated() }}
        {% endif %}
    </em></div>
    <h2> {{ article.getTitle }} </h2>
    <h3> {{ article.getChapo }} <h3>
    <hr>
    <p> {{ article.getContent }} </p><br>
    <div id="author"> Auteur : {{ article.getAuthor }} </div>
</div>

{% endblock %}